@import '@/styles/variables';

.page {
    padding: 4rem 0 6rem;
    background-color: $light-gray;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 4rem;
}

.title {
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: 1rem;
}

.subtitle {
    color: $text-light;
    font-size: 1.1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}