@use '@/styles/variables' as *;

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 1.5px solid $primary-color;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: exclusion;

    // Hide on Touch Devices / Mobile
    @media (max-width: $tablet) {
        display: none !important;
    }
}